 body, html {
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(169 178 191 / 32%) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.7em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(169 178 191 / 32%);
  border-radius: 10px;
}
